@import "../../assets//theme/constants.scss";


  

  .table{
      height: 10% !important;
      padding-left: 15px !important;
      background-color: $bgColorSidebar !important;
      color: $white !important;
      padding-right: 15px !important;
    
    }

    .tableHeader{
      color: $white !important;
      background-color: $bgColor !important;
      height: 50px;
    }

    .tableIcon{
      color: $white !important;
    }

    .alphaaicon{
      color: $white !important;
      margin-left: 10px !important;
      padding-left: 5px !important;
    }

    .cell{
      margin-left: 50px !important;
      padding-left: 20px !important;
    }

    .tableWrapper {
      max-height: 400px !important; /* Set the desired height */
      overflow-y: auto !important; /* Enable vertical scrolling */
    }
    